<!DOCTYPE html> 
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Create a new list</title>
  </head>
  <body>
    <div class="header">
      <h1>Organization app</h1>
    </div>
    <div class="content">
      <form action="/add_list" method="POST">
        <h3>Create a new list</h3>
        <p>List name:</p>
        <input type="text" name="list_name">
        <input type="submit" value="Create list">
      </form>
      <br>
      <form action="/">
        <input type="submit" value="Back to homepage">
      </form>
    </div>
  </body>
</html>