<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Homepage</title>
  </head>
  <body>
    {% if session.username %}
    <div class="header">
      <h1>Organization app</h1>
    </div>
    <div class="content">   
      <form action="/logout">
        <p>You are logged in as {{ session.username }}  
        <input type="submit" value="Log out">
      </form>
      </p>
      <h2>To do -lists:</h2>
      {% for list in lists %}
      <div class="list_object">
        <a href="/list/{{ list[1] }}">{{list[0]}}</a><br>
      </div>
      {% endfor %}
      <br>
      <form action="/create_list">
        <input type="submit" value="Create a new list">
      </form>
      <br>
      <form action="/remove_lists">
        <input type="submit" value="Remove a list">
      </form>
      <br>
      <h2>Notes:</h2>
      {% for notes_list in notes %}
      <div class="list_object">
        <a href="/notes_list/{{ notes_list[1] }}">{{notes_list[0]}}</a><br>
      </div>
      {% endfor %}
      <br>
      <form action="/create_notes">
        <input type="submit" value="Create a new note list">
      </form>
      <br>
    </div>
    {% else %}
    <div class="header">
      <h1>Organization app</h1>
    </div>
    <div class="content">
      <form action="/login" method="POST">
      <h2>Login</h2>
      <p>Username:<br>
      <input type="text" name="username"></p>
      <p>Password:<br>
      <input type="password" name="password"></p>
      <input type="submit" value="Login"><br>
      <p>
      </form>
      <form action="/register">
        <input type="submit" value="Register">
      </form>
      {% endif %}
    </div>
  </body>
</html>