<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <title>List</title>
  </head>
  <body>
    <div class="header">
      <h1>Organization app</h1>
    </div>
    <div class=" content">
      <h3>{{list}}</h3>
      {% for task in tasks %}
      {% if task[1] == 0 %}
      <form action="/done", method="POST">
        <div class="list_object">
          {{ task[0] }}
          <input type="hidden" name="task" value="{{task[2]}}">
          <input type="hidden" name="list" value="{{list_id}}">
          <input type="submit" value="Done">
        </div>
      </form>
      {% elif task[1] == 1 %}
      <form action="/undo", method="POST">
        <div class="list_object">
          {{ task[0] }}
          <input type="hidden" name="task" value="{{task[2]}}">
          <input type="hidden" name="list" value="{{list_id}}">
          <input type="submit" value="Undo">
        </div>
      </form>
      {% endif %}
      {% endfor %}
      <br>
      <form action="/add_task" method="POST">
        <input type="text" name="task">
        <input type="hidden" name="list" value="{{list}}">
        <input type="hidden" name="tasks" value="{{tasks}}">
        <input type="submit" value="Add task">
      </form>
      <form action="/remove_tasks" method="POST">
        <input type="hidden" name="list" value="{{list_id}}">
        <br>
        <input type="submit" value="Remove done tasks">
      </form>
      <br>
      <form action="/">
        <input type="submit" value="Back to homepage">
      </form>
    </div>
  </body>
</html>