<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Remove lists</title>
  </head>
  <body>
    <div class="header">
      <h1>Organization app</h1>
    </div>
    <div class="content">
      <h3>Remove lists</h3>
      {% for list in lists %}
      <form action="/remove_list", method="POST">
        <div class="list_object">
          {{list[0]}}
          <input type="hidden" name="list_id" value="{{list[1]}}">
          <input type="submit" value="Delete">
        </div>
      </form>
      {% endfor %}
      <br>
      <form action="/">
        <input type="submit" value="Back to homepage">
      </form>
    </div>
  </body>
</html>