body {
    color: black;
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    background-color: rgb(162, 175, 169);
    
}
.header {
    background-color: rgb(169, 255, 226);
    padding: 2em 1em;
    font-size: 2em;
    border-radius: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}
.content {
    background-color: white;
    padding: 1.5em 2em;
    margin-top: .5em;
    border-radius: 1em;
}
#entry {
    margin: .5em;
    padding: .5em;
    background-color: rgb(240, 238, 238);
    border-radius: .5em;
}
.list_object {
    margin: .5em;
    padding: .5em;
    background-color: rgb(240, 238, 238);
    border-radius: .5em;
}
a {
    text-decoration: none;
    color: black;
}
